<!--post info card-->
<div class="media">
    <div class="media-body title card-header bg-secondary text-light mt-2">
        <h4 class="mt-0">
            <a class="text-light" href="{{post_url}}" targets="_blank">{{title}}</a>
        </h4>
        <div>
            <h5>{{post_url}}</h5>
            <a class="text-light" href="/post/{{id}}"> Comment(s) {{comments.length}}</a>
        </div>
      
    </div>
</div>