<article>
    <div>
        <a href="{{post_url}}" targets="_blank">{{title}}</a>
        <span>({{post_url}})</span>
    </div>
    <div>
        <a href="/post/{{id}}">{{comments.length}} {{comments.length}}</a>
    </div>
</article>